.footer {
  background: hsl(0, 0%, 100%);
  color: #7f7575;
  padding: 3rem 2rem;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 0;
  gap: 2rem;
}

.footer-section {
  flex: 1 1 200px;
  text-align: left;
}

.footer-section h4 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #000000;
}

.footer-section p,
.footer-section ul,
.footer-section a {
  font-size: 0.95rem;
  color: #898181;
  text-decoration: none;
  line-height: 1.8;
}

.footer-section a:hover {
  color: #111111;
}

.footer-brand img {
  width: 120px;
  height: auto;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
  }
}

.footer-section p {
  position: relative;
  cursor: pointer;
}