body {
  margin: 0;
  padding: 0;
  font-family: "Aptos", sans-serif;
  background-color: #f5f5f5;
  max-width: 100%;
  overflow-x: hidden;
}

.container {
  width: 88%;
  height: 400px;
  margin: auto auto;
  margin-top: 1.2rem;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

.service-row {
  width: 88%;
  margin: 2.5rem auto;
  display: flex;
  gap: 1.2rem;
}

.service-card {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.9rem;
  background: #f1f1f1;
  padding: 1rem 1.2rem;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.08);
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  outline: none;
}

.light-green { background: #eaf6e9; }
.light-yellow { background: #fff5d8; }
.light-pink { background: #fef0f4; }
.light-salmon { background: #ffece4; }

.service-icon {
  width: 42px;
  height: 42px;
}

.service-title {
  font-size: 0.9rem;
  font-weight: 600;
}

.service-subtitle {
  font-size: 0.65rem;
  color: #777;
  text-transform: uppercase;
}

.service-card i {
  margin-left: auto;
  font-size: 1rem;
}

.h3 {
  padding-left: 3rem;
  font-family: Poppins;
}

.category-grid {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5rem;
  padding-left: 11rem;
}

.category-grid + .category-grid {
  margin-top: 2rem;
}

.category-card {
  background: #fff;
  border-radius: 10px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  transition: 0.3s;
  height: 9rem;
  padding-top: 2rem;
  cursor: pointer;
}

.category-card img {
  width: 85%;
  height: 7rem;
  object-fit: contain;
  border-radius: 8px;
}

.category-card p {
  margin-top: 0.4rem;
  font-weight: 500;
  font-size: 0.78rem;
  text-align: center;
}

.health-banner {
  width: 90%;
  margin: 2rem auto;
  height: 140px;
  background: linear-gradient(90deg, #92a263 0%, #252323 100%);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 3rem;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.banner-content h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
}

.banner-content p {
  font-size: 1.05rem;
  margin-bottom: 1.2rem;
}

.book-btn {
  background: #000;
  color: #fff;
  border: none;
  padding: 0.7rem 2rem;
  font-size: 1rem;
  border-radius: 15px;
  cursor: pointer;
}

.book-btn:hover {
  opacity: 0.85;
}

.banner-illustration {
  max-width: 330px;
  width: auto;
}
.banner-illustration img {
  width: 100%;
  height: auto;
}