.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  font-family: 'Poppins', sans-serif;
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensures navbar stays above other content */
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 70px;
  height: auto;
}

.logo img:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  transform: scale(1.05);
}

.nav-links {
  display: flex;
  gap: 7rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-right: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: normal;
  padding: 10px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.nav-links a:hover {
  background-color: rgb(111, 145, 86);
  color: white;
}

.search-box {
  display: flex;
  align-items: center;
  background: #f0f0f0;
  padding: 5px 10px;
  border-radius: 25px;
}

.search-box input {
  border: none;
  background: transparent;
  outline: none;
  padding: 5px;
}

.search-box button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding-left: 5px;
}

.cart {
  position: relative;
  display: inline-block;
}

.cart button {
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}

.cart i {
  font-size: 24px;
  color: black;
}

.cart-count {
  position: absolute;
  top: -6px;
  right: -6px;
  background: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 50%;
  pointer-events: none;
}

.login-btn {
  border-radius: 15px;
  color: #2D6A5A;
  border: 1px solid #2D6A5A;
  padding: 8px 15px;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.login-btn:hover {
  background-color: #2D6A5A;
  color: white;
}
.login-btn i {
  font-size: 18px;
}
